<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" threshold="all"
    xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!--Appenders-->
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[%d %-5p][%20.20c] %m%n" />
        </layout>
    </appender>

    <!-- This is the one to change if you want detailed information on the cache algorithms to check correctness -->
    <logger name="com.custardsource.cache.policy">
        <level value="INFO" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="Console" />
    </root>
</log4j:configuration>
